<div class="an_collections" style="display:none">{{product.collections | map: "id" | json }}</div>{%- layout none -%}
<div class="quickform-wrapper" style="display:none;">
  {%- section 'product-quickview-template' -%}
</div>